
{% extends 'base.html'%} {% import 'macros.html' as macro%}{% import "bootstrap/wtf.html" as wtf %}



        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        

    {% block content %}

    <div class="well">
        <h1 > WELCOME  TO MY BLOG !!</h1>

    </div>
    <div class="container">
        <h3 style="text-align:center">Choose to view or post a blog.</h3>
        <nav class="navbar navbar-default" role="navigation" style="text-align:center;">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="pro">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/pitch">Education</a></li>
                    <li ><a href="/product">Health</a></li>
                    <li><a href="/interview">Technology</a></li>
                    <li><a href="/promotion">Science</a></li>

                </ul>
            </div>
        </nav>



        <div id="category">
            <h2>Welcome to Blog</h2>
            <a class="btn btn-primary text-center " href="{{url_for('main.new_post')}}"><span ></span> Add Blog Post</a>
            <hr>
          
            <h3> Posts Available:</h3>
          
            {% for post in posts %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">{{post.post_title}}</h3>
                </div>
                <div class="panel-body">
                    <p class='firstletter'>{{post.post_text}}</p>
                </div>
                {% if current_user.is_authenticated %}
                <div class="panel-footer">
                  <a class="btn btn-success text-center" href="{{url_for('main.view_post', id=post.id)}}">View Comments</a>
                  <a class="btn btn-warning text-center" href="{{url_for('main.update_post', id=post.id)}}">Update Post</a>
                  <a class="btn btn-danger text-center" href="{{url_for('main.delete_post', id=post.id)}}">Delete Post</a>
                </div>
              
                {% else %}
                <div class="panel-footer"><a class="btn btn-primary text-center" href="{{url_for('main.view_post', id=post.id)}}">View Comments</a></div>
                {%endif%}
            </div>
            {% endfor %}
          
          {% endblock %}
          